{% extends 'trackApp/base.html' %}

{% block content %}
    <h2 class="text-center my-3">These are all your receipts</h2>
    <div class='row card-group'>
        {% for recipe in all_recipes %}
            <div class="col-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">ID:  {{ recipe.id|upper }}</h5>
                        <a href="{% url 'details' recipe.id %}"> <h5 class="card-title">{{ recipe.name|title }}</h5></a>
                        <p class="card-text">{{ recipe.price }}DA</p>
                        <p class="card-text float-right">{{ recipe.date_of_purchase }}</p>
                        <a href="#" class="btn btn-primary">Check Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

