{% extends 'trackApp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == recipe.user.id %}
            <h2 class="text-center my-3">Update {{ item_to_update.store_name }}</h2>
            <div class="container">
                <div class="col justify-content-center">
                    <form method="post" enctype="multipart/form-data"
                          class="uniForm col-md-12">
                        {% csrf_token %}
                        <div class="form-fields">
                            {{ form|crispy }}
                        </div>
                        <input type="submit" class="btn btn-primary text-center" value="Update">
                    </form>
                </div>
            </div>
        {% else %}
            <h2 class="danger">You are not allowed to be here!</h2>
        {% endif %}
    {% endif %}
{% endblock %}